<body >

<%= render "common/navbar" %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= link_to '新增小說', {:controller => 'books', :action => 'new'}, 
            class: "btn btn-primary" %>

        <%= link_to '掃描更新', {:controller => 'books', :action => 'scan_all'}, 
            class: "btn btn-default" %>
        <table class="table">
            <thead>
                <tr> 
                    <td>書名/連結</td> <td>網站名稱</td> <td>更新時間</td> <td> 操作 </td> 
                </tr>
            </thead>
            <tbody>
            <% @books.each do |book|  %>
            <tr>
                <td>
                    <%= link_to book.title, {:controller => 'books', :action => 'click', :id => book},
                        class: "btn btn-link" %>
                    <% if book.last_update != nil and (
                            book.last_click == nil or 
                            book.last_click <= book.last_update) %>
                        <span class="label label-success">New!</span>
                    <% end %>
                </td>
                <td><%= book.sitename %></td>
                <td>
                    <% if book.last_update != nil %>
                        <%= book.last_update.in_time_zone('Taipei') %>
                    <% else %>
                        NIL
                    <% end %>
                </td>
                <td>
                    <%= link_to '編輯', {:controller => 'books', :action => 'edit', :id => book}, 
                        class: "btn btn-info" %>
                    <%= link_to '刪除', {:controller => 'books', :action => 'destroy', :id => book},
                        class: "btn btn-warning" %>
                </td>
            </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>

<%= render "common/footer" %>

</body>
