<div class="row">
    <div class="col-md-2 col-md-offset-1">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/" class="btn btn-default">所有</a>
                    <%= link_to "New" , {:controller => 'index', :action => 'index', :new => '1'},
                        class: "btn btn-success"%>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                按照標籤分類
            </div>
            <div class="panel-body">

                <div class="btn-group" role="group" aria-label="...">
                    <%= link_to ('<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> 空白').html_safe, {:controller => 'index', :action => 'index', :tag => ''},
                        class: "btn btn-info"%>
                    <% @tags.each do |tag| %>
                        <%= link_to ('<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> ' + tag).html_safe, {:controller => 'index', :action => 'index', :tag => tag},
                        class: "btn btn-info"%>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                按照網站名稱分類
            </div>
            <div class="panel-body">
                <div class="btn-group" role="group" aria-label="...">
                    <% @sitenames.each do |sitename| %>
                        <%= link_to ('<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> ' + sitename).html_safe, {:controller => 'index', :action => 'index', :sitename => sitename},
                        class: "btn btn-info"%>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                按照標題搜尋
            </div>
            <div class="panel-body">
                <%= form_tag("/", :method => "get", id: "search-form") do %>
                    <%= text_field_tag :search, params[:search], class: "form-control" %>
                    <%= submit_tag "搜尋", class: "btn btn-primary form-control" %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <%= link_to '新增小說', {:controller => 'books', :action => 'new'}, 
            class: "btn btn-primary" %>
        
        <% if @jobs.length == 0%>
            <%= link_to '掃描更新', {:controller => 'books', :action => 'scan_all'}, 
                class: "btn btn-default btn-scan-all" %>
        <% end %>

        <div id="scan-bar" style="<% if @jobs.length == 0 %>display:none;<% end %>">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only"><span>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr> 
                    <td>書名(共計 <%= @books.length %> 本書)/連結</td>
                    <td>標籤</td> <td>網站名稱</td> <td>更新時間</td> <td> 操作 </td> 
                </tr>
            </thead>
            <tbody>
            <% @books.each do |book|  %>
            <tr>
                <td>
                    <% if book.title.length > 8 %>
                        <% booktitle = book.title.slice(0, 8) + "..." %>
                    <% else %>
                        <% booktitle = book.title %>
                    <% end %>
                    <% if book.last_update != nil and (
                            book.last_click == nil or 
                            book.last_click <= book.last_update) %>
                        <%= link_to booktitle, {:controller => 'books', :action => 'click', :id => book},
                        :target => '_blank', class: "btn btn-link btn-read-link", tag: "newtag" + book.id.to_s %>
                        <span class="label label-success" id="newtag<%= book.id %>">New!</span>
                    <% else %>
                        <a href="<%=book.spoturl%>" target="_blank" class="btn btn-link"><%=booktitle%></a>
                    <% end %>
                </td>
                <td><%= book.tag %> </td>
                <td><%= book.sitename %></td>
                <td>
                    <% if book.last_update != nil %>
                        <%= book.last_update.in_time_zone('Taipei') %>
                    <% else %>
                        還未掃過
                    <% end %>
                </td>
                <td>
                    <%= link_to '編輯', {:controller => 'books', :action => 'edit', :id => book}, 
                        class: "btn btn-info" %>
                    
                    <% if book.last_update != nil and (
                            book.last_click == nil or 
                            book.last_click <= book.last_update) %>
                     
                        <%= link_to '已讀', {:controller => 'books', :action => 'read', :id => book},
                            class: "btn btn-default btn-read-btn btn-read-newtag" + book.id.to_s, 
                            tag: "newtag" + book.id.to_s %>
                    <% else %>
                        <a href="#" class="btn btn-default" disabled>已讀</a>
                    <% end %>

                    <%= link_to '刪除', {:controller => 'books', :action => 'destroy', :id => book},
                        class: "btn btn-warning btn-delete" %>
                </td>
            </tr>
            <% end %>
            </tbody>
        </table>

<div class="modal fade modal-dialog modal-sm" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myModalLabel">
<!--    <div class="modal-dialog modal-sm"> -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">警告</h4>
            </div>
            <div class="modal-body">
            確認刪除？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="btn-check-delete">
                    確認
                </button>
            </div>
        </div>
<!--    </div> -->
</div>

    </div>
</div>

<script language="javascript">

delete_url = "";

init = function(){
    
    scan_bar = $("#scan-bar");
    $(".btn-delete").click(function(){
        delete_url = $(this).attr("href");
        $('#myModal').modal();
        return false;
    });

    $(".btn-read-link").click(function(){
        $.post($(this).attr("href"), {}, function(res){});
        $(".btn-read-" + $(this).attr("tag")).attr("disabled", true);
        $("#" + $(this).attr("tag")).hide();
    });

    $(".btn-read-btn").click(function(){
        $.post($(this).attr("href"), {}, function(res){});
        $(".btn-read-" + $(this).attr("tag")).attr("disabled", true);
        $("#" + $(this).attr("tag")).hide();
        return false;
    });

    $("#btn-check-delete").click(function(){
        $.post(delete_url, {}, function(res){
            window.location.reload();
        });
    });
    
    $(".btn-scan-all").click(function(){
        $.post($(this).attr("href"), {}, show_job);
        return false;
     });

<% if @jobs.length >= 1 %>
    num = <%= @lastjob.id.to_s%>
    show_job(num.toString());
<% end %>

}

function show_job(job_id){
    scan_bar = $("#scan-bar");
    $('.progress-bar').css('width', '0%').text('0%');
    scan_bar.show();
    var interval;
    interval = setInterval(function(){
        $.ajax({
        url: '/progress-job/' + job_id,
        success: function(job){
            var stage, progress;

            // If there are errors
            if (job.last_error != null) {
                $('.progress-bar').addClass('progress-bar-danger');
                scan_bar.hide();
                clearInterval(interval);
            }

            progress = job.progress_current / job.progress_max * 100;
            // In job stage
            if (progress.toString() !== 'NaN'){
                $('.progress-bar').css('width', progress + '%').text(progress + '%');
            }
        },
        error: function(){
       // Job is no loger in database which means it finished successfuly
            $('.progress-bar').css('width', '100%').text('100%');
            scan_bar.hide();
            clearInterval(interval);
            window.location.reload();
        }
        });
    },100);
}

$(document).ready(init);
$(document).on('page:load', init);

</script>
