<div class="row">
    <div class="col-md-7 col-md-offset-2">

    <% if @book.errors.any? %>
        <% @book.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger" role="alert">
        <%= msg %>
        </div>
        <% end %>
    <% end %>

<%= form_for @book, {
        :url => { :controller => 'books', :action => 'create'}, 
        :html => {:class => "form-horizontal"}
    } do |f|%>

    <div class="form-group">
        <%= f.label :spoturl, "監測網址", :class => "col-sm-2 control-label" %>
        <div class="col-sm-8">
            <%= f.text_field :spoturl, :class => "form-control txturl" %>
        </div>

    </div>

    <div class="form-group">
        <%= f.label :title, "書名", :class => "col-sm-2 control-label"%> 
        <div class="col-sm-8">
            <%= f.text_field :title, :class => "form-control"%>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :sitename, "網站", :class => "col-sm-2 control-label" %>
        <div class="col-sm-6">
            <%= f.text_field :sitename, :class => "form-control txtsitename" %>
        </div>
        <div class="col-sm-2">
            <a href="#" class="btn btn-primary" id="btn-detect">自動偵測</a>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :tag, "標籤", :class => "col-sm-2 control-label" %>
        <div class="col-sm-8">
            <%= f.text_field :tag, :class => "form-control labelclass" %>
            <div class="btn-group" role="group" aria-label="...">
                <% @tags.each do |tag| %>
                    <a href="#" onclick="$('.labelclass').val('<%=tag%>')" class="btn btn-info"><%=tag%></a>
                <% end %>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2">
            <%= f.submit "新增資料" , :class => "btn btn-primary"%>
            <a href="/" class="btn btn-default">取消</a>
        </div>
    </div>
<% end %>

    </div>

</div>

<script language="javascript">

window.onload = init;

function init(){
    $("#btn-detect").click(function(){
        sitename = "";
        url = $(".txturl").val();
        sites = ["hbooker", "8kana", "qidian", "chuangshi", "baidu"];
        for(var i = 0;i < sites.length;i++)
            if(url.indexOf(sites[i]) >= 0)
                sitename = sites[i];
        $(".txtsitename").val(sitename);
    });
}

</script>
